  <Description>クックパッド検索</Description>
  <InputEncoding>UTF-8</InputEncoding>
  <Image width="16" height="16">data:image/jpeg;base64,R0lGODlhEAAQAOMAAMzMzIpMKl0eCkQMB2wuFahaHN57Ke+MK/+cMYdhWmc9OM/CwqeRkf///+/v77dwPCH5BAEAAAAALAAAAAAQABAAAASFEEgZxBgizA3CIIVhFMSgbYJwIEhRsEY6BcRYCEmiupk0FIpFgtFo6HKWDkHhKDYbC6IxI3goitgslGA5BBbaIjNRuBy816zjUjhgDK2EdkFg3WgtBiOXUwhYBBoDBl8OhoYJAQgGAxQCBHx8Cm09EhYFD5mZIhgcHgIhIxYnHB0WGKQSEQA7</Image>
  <Url type="text/html" template="http://cookpad.com/search/?target=quick&amp;keyword={searchTerms}">
  </Url>
</OpenSearchDescription>
